@import url(http://fonts.googleapis.com/css?family=Berkshire+Swash);
@import url(http://fonts.googleapis.com/css?family=Neucha);

html, body {
	height: 100%;
	text-align: center;
	font-family: 'Neucha';
}

#wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	width: 390px;
	text-align: center;
	margin-left:auto;
	margin-right:auto;
	background-color: #f1fcff;
	border-left: 5px solid #009193;
	border-right: 5px solid #009193;
}

#header {
	font-family: 'Berkshire Swash';
	font-size: 1.5em;
	color: #008688;
	text-align: center;
	padding: 0px;
	padding-top: 8px;
}

#title_input {
	text-align: center;
	width: 288px;
	margin: 0;
}

img.header_img {
	padding-left: 8px;
	padding-right: 8px;
	max-width: 34px;
}

#list {
	text-align: left;
	padding-left: 8px; 
	padding-right: 8px;
}

#new {
	font-family: 'Berkshire Swash';
	display: inline-block;
	font-size: 1.5em;
	background-color: #a9d9da;
	border: 3px solid #008284;
	color: #006064;
	cursor: pointer;
	z-index: 9999;
	/* spacing */
	margin-top: 10px;
	margin-bottom: 20px;
	padding: 7px;
	border-radius: 15px;
	-moz-border-radius: 15px;
	/* no selection */
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

#header_new {
	cursor: pointer;
}

a {
	text-decoration: none;
	color:#00787b;
}

a:hover {
	text-decoration: underline;
}

img {
	cursor: pointer;
	border: none;
}

img.delete {
	padding-left: 8px;
	max-width: 30px; /* could be 4 px wider, but this looks good */
	vertical-align: text-bottom; 
}

input[type="text"] {
	width: 332px;
	font-size: 2em;
	border: 2px solid #f1fcff;
	box-shadow: none;
	outline: none;
	background-color: #f1fcff;
	padding: 5px;
	
	/* tweaks 'n' shit */
    -webkit-appearance: none;
    border-radius: 0;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}

input:focus {
	border: 2px solid #009193;
}


/* History/About Page Specifics */

#header_text {
	display: inline-block;
	width: 288px;
	font-size: 2em;
	color: #000000;
	padding-top: 7px;
}

#blurb {
	text-align: left;
	font-size: 1.5em;
	padding: 12px;
}

/* history page specifically */ 

#history_list {
	padding: 10px;
}

.history_link {
	font-size: 2em;
}

#no_history {
	font-size: 2em;
	color: #808080;
}